@tailwind base;
@tailwind components;
@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: normal;
  src: url(./assets/fonts/Vazir.woff);
}
@tailwind utilities;

.active {
  @apply bg-gradient-to-l from-white to-blue-100 border-l-4 border-blue-500 text-blue-500 *:font-semibold dark:from-slate-400 dark:to-purple-300 dark:border-purple-800 dark:hover:!text-purple-600 dark:!text-purple-500;
}
